body {
  background-color: #C1607A;
  font-family: fantasy;
}
.container {
  background-color: #FFC4AA;
  margin-top: 1em;
  border-style: inset;
}

#header {
  border-style: inset;
  text-align: center;
  background-color: #803615;
  color: white;
  margin-top: 1em;
}

#triangleForm {
  border-style: inset;
  padding: 4px;
  background-color: #AA5C39;
  color: white;
  margin-bottom: 1em;

}

#equal, #isoceles, #scalene, #not {
  display: none;
}

.result p {
  border-style: inset;
  background-color: white;
  margin-right: 0.1em;
  padding-right: 0.1em;
  text-align: center;
  font-size: 1.1em;
  color: #AA5C39;
}
